
// This defines the sizes and breakpoints. Any sizes can be defined here, as long
// as following conditions are satisfied:
// 1. the smallest size is named "sm" and its lower boundary is 0px
// 2. the upper boundary of the largest size is named "infinity"
$sizes:            sm    ,   md    ,   lg                   ;
$brkpnt:       0px  ,  640px  ,  960px  ,   infinity        ;

// this mixin allows you to define style only for a given size
@mixin respond ($size: sm) {
    @for $i from 1 through length($sizes) {
        $sz: nth($sizes,$i);
        @if $size == $sz {
            $b-lo: nth($brkpnt,$i);
            $b-hi: nth($brkpnt,$i+1);
            @if $b-lo == 0px {
                // smallest devices
                @media  (max-width: $b-hi - 1px) { @content; }
            } @elseif $b-hi == infinity {
                // largest devices
                @media  (min-width: $b-lo) { @content; }
            } @else {
                // medium devices
                @media  (min-width: $b-lo)
                and (max-width: $b-hi - 1px) { @content; }
            }
        }
    }
}

// this mixin allows you to define a style for given-or-larger devices
// which is useful during the mobile-first approach
@mixin breakpoint($size: sm) {
    @for $i from 1 through length($sizes) {
        $sz: nth($sizes,$i);
        @if $size == $sz {
            $b-lo: nth($brkpnt,$i);
            @if $b-lo == 0px {
                @content;
            } @else {
                @media  (min-width: $b-lo) { @content; }
            }
        }
    }
}
